<p id="notice"><%= notice %></p>

<h1>User Challenge Instances</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenge_instances.each do |user_challenge_instance| %>
      <tr>
        <td><%= link_to 'Show', user_challenge_instance %></td>
        <td><%= link_to 'Edit', edit_challenge_instance_path(user_challenge_instance) %></td>
        <td><%= link_to 'Destroy', user_challenge_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Challenge Instance', new_user_challenge_instance_path %>
